body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: slategray;
color: brown;
display: flex;
flex-direction: column;
align-items: center;
}
.header{font-size: 50px;
    font-weight: bolder;
}
.instructions{display: flex;
    text-align: center;
    flex-direction: column;
    font-size: large;
    font-weight:700;
}
button{background-color: black;
        color: brown;
        font-size: larger;
        font-weight: 600;
        border-radius: 8px;
        
}
.images{
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
  width: 100vw;
  height: 45vh;
  visibility: hidden;
}
#scissors-image, #rock-image, #paper-image,#computer-image{
  margin: 10px;
  z-index: 1;
  position:absolute;
   
}
#lightning{
  position: absolute;
  /*transform: rotate(90deg);*/
  z-index: 2;
  margin-top: 0px;
  visibility: hidden;
  margin-left: 50vw;
  
  
}
.lightning{
  animation-duration: 0.1s;
  animation-name: flash;
  animation-iteration-count: 10;
  animation-timing-function: ease-out;
  animation-delay: 0.25s;
  
}
.animated{ animation-duration: 2s;
    animation-name: slideinLeft;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    /*animation-timing-function: ease-in;*/
    animation-timing-function: cubic-bezier(0,1,0,1);
    }
    
.computerAnimated{ animation-duration: 2s;
    animation-name: slideinRight;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    /*animation-timing-function: ease-in;*/
    animation-timing-function: cubic-bezier(0,1,0,1);
    }
    
    .player-loss-animation{ animation-duration: 2s;
    animation-name: slideinLeftLoss;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0,1,0,1);
    }
    
.computer-loss-animation{ animation-duration: 2s;
    animation-name: slideinRightLoss;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    /*animation-timing-function: ease-in;*/
    animation-timing-function: cubic-bezier(0,1,0,1);
    }
    
@keyframes slideinLeft {
  0% {
    visibility: visible;
    left: 0%;
  }
  50% {
    left: 47%;
    transform: rotateZ(30deg);
   
  }
  100% {
    left: 0%;
   
  }
}

@keyframes slideinLeftLoss {
  0% {
    visibility: visible;
    left: 0%;
  }
  50% {
    left: 47%;
    transform: rotateZ(30deg);
  }
  100% {
    left: -25%;
    transform: rotateZ(-90deg);
   
  }
}

@keyframes slideinRight {
  0% {
    visibility: visible;
    right: 0%;
  }
  50% {
    right: 49%;
    transform: rotateZ(-30deg);
  }
  100% {
    right: 0%;
   
  }
}

@keyframes slideinRightLoss {
  0% {
    visibility: visible;
    right: 0%;
  }
  50% {
    right: 49%;
    transform: rotateZ(-30deg);
  }
  100% {
    right: -27%;
    transform: rotateZ(90deg);
   
  }
}

@keyframes flash {
  0%{ transform: scaleY(2);
    
    visibility: visible;
  }
  25%{
    transform: scale(0.1);
    visibility: hidden;
   
  }
  
  50%{ transform: scale(1);
    visibility: visible;
  }
  
  75%{transform: Scale(0.5);
  }
  
  90%{transform: Scale(0.1);
  }
  
  100%{transform: Scale(2);
  }
}

.buttons{ display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        visibility: hidden;
        margin-top: 50px;
                 
}
#rock,#paper,#scissors{
          
          text-align: center;
          width: 120px;
          height: 25px;
          margin: 10px;
          border-radius: 8px;
          
}
